<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/styles.css">
    <title>Alfa-0.0.0.2.0</title>
</head>
<body>
 <div id="app">

    <button @click = "save()">
        Save
    </button>
    <button @click = "load()">
        Load
    </button>
     
     <div class="dps-container">
        <div class = "final-dps">
            Final DPS: {{format(player.finalDps)}}
        </div> <!--- needs to be done properly-->
        <div class="exhaustion" v-if="player.exhaustion == 1">
            You are running at full speed
        </div>
        <div class="exhaustion" v-else>
                You are exhausted at 1/{{format(player.exhaustion)}} of your dps
            </div>
     </div>

     <div class = "currency-container">
        <div class = "dmg-currency">
            You have {{format(player.dmg)}} accumulated dmg
        </div>
        <div class="level-container">
            <div class="level">
                Level
            </div>
            <div class="level">
                {{player.level.level}}
            </div>
            <div class="xp">
                {{player.level.levelXp}}/{{player.level.xpNeeded}} xp
            </div>
        </div>
        <div class = "money-currency">
            You have {{ format(player.money) }} money
        </div>
     </div>

     <div class="menu">
         <button id="gearBtn" @click = 'showTab("gearTb")'>
            Gear
         </button>
         <button id="monstersBtn" @click = 'showTab("monstersTb")'> 
            Monsters
         </button >
         <button id="bossesBtn" @click = 'showTab("bossesTb")'> 
            Bosses
         </button >
         <button id="skillsBtn" @click = 'showTab("skillsTb")'> 
            Skills
        </button >
     </div>

     <div id="gearTb" class="tab">
         <div class="gear-container">
            <button class="gearShop" v-for="(gear,idx) in player.gear" @click=" player.gear[idx].buy();" v-html="player.gear[idx].btnText()" :id="'gear-shop-'+idx">        
            </button>
        </div>
     </div>

     <div id="monstersTb" class="tab">
        <div class="monsters-container">
            <button class="monster" @click = "monster.attack(idx)" v-for="(monster,idx) in player.monsters" :id = "'monster-'+idx" >
                   <strong>
                       {{monster.name}}
                    </strong>
                   <br>
                   {{format(monster.hp)}} Hp
                   <br>
                   {{format(monster.goldDrp)}} Gold per Kill
            </button>
        </div>
     </div>   

     <div id="bossesTb" class="tab">
        <div class="boss-container">
            <button class="boss" @click = "boss.attack()" v-for="(boss,idx) in player.bosses">
                   <strong>
                       {{boss.name}}
                    </strong>
                   <br>
                   {{format(boss.hp)}} Hp
                   <br>
                   {{format(boss.xpDrop)}} xp per kill
            </button>
        </div>
     </div>

     <div id="skillsTb" class="tab">
        Skill Tree <br>
        WIP
     </div>

 </div>
</body>
<script src="js/vue/vueFinal.js"></script>

<script src="js/lists/monster_list.js"></script>
<script src="js/lists/gear_list.js"></script>
<script src="js/lists/boss_list.js"></script>

<script src="js/technical/format.js"></script>
<script src="js/technical/tabs.js"></script>
<script src="js/technical/loop.js"></script>
<script src="js/technical/progress.js"></script>
<script src="js/technical/localStorage/save.js"></script>
<script src="js/technical/localStorage/load.js"></script>


<script src="js/gameplay/level.js"></script>
<script src="js/gameplay/gear.js"></script>
<script src="js/gameplay/enemies.js"></script>
<script src="js/gameplay/player.js"></script>

<script src="js/index.js"></script>
</html>